.navbar {
  display: flex;
  height: 80px;
  border-bottom: 1px solid #d6d6d6;
  position: sticky;
  justify-items: center;
  align-items: center;
  top: 0;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.container {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 110px;
  padding-left: 110px;
}

.navbar__logo {
  display: flex;
  justify-self: start;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  text-align: 600;
  color: #141414;
  font-size: 22px;
  text-align: 700;
  font-weight: bold;
}
.navbar__icon {
  display: none;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: end;
  text-transform: uppercase;
  margin-top: 24px;
  font-size: 13px;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  display: flex;
  color: #929292;
  text-decoration: none;
  padding: 0.5rem 1.2rem;
  height: 100%;
  text-align: 300;
}

.navbar__links:hover {
  color: #141414;
  text-align: 700;
  font-weight: bold;
  transition: all 0.5s ease;
}

.navbar__links--active {
  color: #141414;
  text-align: 700;
  font-weight: bold;
}

.navbar__left {
  display: flex;
  justify-self: start;
  align-items: center;
}

.navbar__icons:nth-child(2) {
  margin: 0 1.3em;
}

@media screen and (max-width: 960px) {
  .navbar__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .navbar__menu.active {
    background: transparent;
    left: 0;
    opacity: 1;
    transition: all 0.6s ease;
    z-index: 1;
  }

  .navbar__left {
    display: flex;
    width: 100%;
    height: 10vh;
    position: absolute;
    top: 560px;

    left: -100%;
    opacity: 1;
    transition: all 0.6s ease;
  }

  .navbar__left.active {
    background: transparent;
    left: 38%;
    opacity: 1;
    transition: all 0.7s ease;
    z-index: 1;
  }

  .navbar__icon {
    display: block;
    position: absolute;
    top: 8px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1rem;
    cursor: pointer;
  }

  .navbar__logo {
    position: absolute;
    top: 22px;
    left: 20px;
    font-size: 20px;
  }
}
